{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% trans 'Your username and password didn\'t match. Please try again.' %}
            </div>
            {% endif %}
            <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" name="username" placeholder="{% trans 'Username' %}">
            </fieldset>
            <fieldset class="form-group">
                <input class="form-control form-control-lg" type="password" name="password" placeholder="{% trans 'Password' %}">
            </fieldset>
            <fieldset class="form-group">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans 'Enter' %}" />
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
