{% extends "openid_provider/base.html" %}

{% load i18n %}

{% block content %}
    
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="badge">{{ object_list.count }}</span>
                        <strong>Total</strong>
                      </li>
                    </ul>
                    <a href="#" class="btn btn-success btn-block">New Client</a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Clients</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans 'Click on the client you want to see.' %}</p>
                    <div class="list-group">
                        {% for client in object_list %}
                        <a href="{% url 'openid_provider:client_detail' client.id %}" class="list-group-item">{{ client.name }}<span class="badge">{{ client.default_redirect_uri }}</span></a>
                        {% empty %}
                        <div class="list-group-item">No clients yet.</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}