{% extends "openid_provider/base.html" %}

{% load i18n %}

{% block content %}
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create new client</h3>
                </div>
                <div class="panel-body">
                    {% if error %}
                    <div class="alert alert-danger" role="alert"><strong>Something was wrong.</strong> Try again please.</div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" type="text" class="form-control" placeholder="Some Client">
                        </div>
                        <div class="form-group">
                            <label>Client Type</label>
                            <select name="client_type" class="form-control">
                                <option value="confidential">Confidential</option>
                                <option value="public">Public</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Response Type</label>
                            <select name="response_type" class="form-control">
                                <option value="code">code (Authorization Code Flow)</option>
                                <option value="id_token">id_token (Implicit Flow)</option>
                                <option value="id_token token">id_token token (Implicit Flow)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Redirect URIs</label>
                            <textarea name="redirect_uris" class="form-control" rows="3" placeholder="Complete URL's. Separated with new lines."></textarea>
                        </div>
                        <input type="submit" class="btn btn-success btn-block" value="OK" />
                        <br><a href="{% url 'openid_provider:client_list' %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}