{% extends "openid_provider/base.html" %}

{% load i18n %}

{% block content %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
			    <h2>Please sign in</h2>
			    <hr>
			    {% if form.errors %}
    			<div class="alert alert-danger" role="alert">Username and password mismatch.</div>
				{% endif %}
			    <form accept-charset="UTF-8" role="form" method="post" action="{% url 'openid_provider:login' %}">
			    	{% csrf_token %}
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username" name="username" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    	    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/openid/profile/{% endif %}" />

			    		<input class="btn btn-primary btn-block" type="submit" value="OK">
			    	</fieldset>
		      	</form>
			</div>
		</div>
	</div>
</div>
    
{% endblock %}