@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

html {
	font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: auto;
    padding-top: 10px;
}

.ui.huge.header {
	font-size: 46px;
	font-weight: 800;
}

.ui.segment {
	font-size: 18px;
	font-weight: 300;
}