body {
	background-color: #536dfe;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-container {
    flex: 1 0 auto;
    padding-top: 40px;
}

footer {
	padding-top: 0px !important;
}