{% extends 'base.html' %}

{% block content %}

    <div class="ui page grid">
        <div class="nine wide centered column">
            <div class="ui segment">
                <h1 class="ui dividing header">Request for Permission</h1>
                <p>Client <i>{{ client.name }}</i> would like to access this information of you.</p>
                <form method="post" action="{% url 'oidc_provider:authorize' %}">
                    {% csrf_token %}
                    {{ hidden_inputs }}
                    <div class="ui bulleted list">
                    {% for scope in params.scope %}
                        <div class="item">{{ scope | capfirst }}</div>
                    {% endfor %}
                    </div>
                    <div class="ui fluid large buttons">
                        <input class="ui button" type="submit" value="Cancel" />
                        <div class="or"></div>
                        <input name="allow" class="positive ui button" type="submit" value="Authorize" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}  