{% extends 'base.html' %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="nine wide centered column">
                <div class="ui segment">
                    <h1 class="ui header">Request for Permission</h1>
                    <h2 class="ui header"><div class="sub header">Client <strong>{{ client.name }}</strong> would like to access this information of you ...</div></h2>
                    <form method="post" action="{% url 'oidc_provider:authorize' %}">
                        {% csrf_token %}
                        {{ hidden_inputs }}
                        <div class="ui celled list">
                        {% for scope in params.scope %}
                            <div class="item">{{ scope | capfirst }}</div>
                        {% endfor %}
                        </div>
                        <input name="allow" class="positive ui button" type="submit" value="Authorize" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}  