{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>OIDC Provider Example</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
    <div class="ui page grid fixed large blue inverted menu">
        <a href="{% url 'home' %}" class=" item">django-oidc-provider</a>
        <div class="right menu">
            {% if user.is_authenticated %}
            <a href="#" class="item">{{ user.email }}</a>
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}" class="item">Admin</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="item"><i class="remove icon"></i></a>
            {% else %}
            <a href="{% url 'login' %}" class="item">Login</a>
            {% endif %}
        </div>
    </div>
    
    {% block content %}{% endblock %}

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui right aligned secondary segment">
                View the project <a href="https://github.com/juanifioren/django-oidc-provider" target="_BLANK">on Github</a>. Example by <a href="https://github.com/juanifioren" target="_BLANK">Juan Ignacio Fiorentino</a>.
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>

</body>
</html>