{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>OpenID Provider Example</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
    
    <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo center black-text">OpenID Provider</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}" class="black-text">{% trans 'Admin' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}" class="black-text">X</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" class="black-text"><i class="material-icons left">input</i> {% trans 'Login' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div id="main-container" class="container">
    {% block content %}{% endblock %}
    </div>

    <footer class="page-footer white">
        <div class="footer-copyright">
            <div class="container black-text"><a href="https://www.linkedin.com/in/juanifioren" target="_BLANK">Created by Juan Ignacio Fiorentino</a><a class="right" href="https://github.com/juanifioren/django-oidc-provider" target="_BLANK">View on Github</a></div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</body>
</html>