{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    
    <div class="ui stackable page grid">
        <div class="row">
            <div class="center aligned column">
                <h1 class="ui huge header">Congratulations! It works. <div class="sub header">... what's next?</div></h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Now that you are an OpenID Connect Provider, start by creating your clients <a href="{% url 'admin:index' %}oidc_provider/client/" target="_BLANK">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}